@page "/accounts"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp.Data.DatingAppDbContext DB
@using BlazorApp.Models
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="accounts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Accounts">
    <PropertyColumn Property="account => account.DisplayName" />
    <PropertyColumn Property="account => account.BirthDate" />
    <PropertyColumn Property="account => account.UserName" />
    <PropertyColumn Property="account => account.Email" />
    <PropertyColumn Property="account => account.Password" />
    <PropertyColumn Property="account => account.CreateDate" />
    <PropertyColumn Property="account => account.Role" />

    <TemplateColumn Context="account">
        <a href="@($"accounts/edit?accountid={account.AccountId}")">Edit</a> |
        <a href="@($"accounts/details?accountid={account.AccountId}")">Details</a> |
        <a href="@($"accounts/delete?accountid={account.AccountId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
