<div class="flex justify-between items-center p-4 bg-black shadow-md text-white">
    <a href="/" class="text-2xl font-bold text-white">DATINGAPP</a>

    <nav class="flex space-x-3">
    <AuthorizeView Roles="Administrator">
        <Authorized>
                <a href="accounts/create" class="text-white font-medium hover:underline">Create</a>
                <a href="accounts" class="text-white font-medium hover:underline">Index</a>
                <a href="weather" class="text-white font-medium hover:underline">Weather</a>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Administrator,User">
        <Authorized>
            <a href="counter" class="text-white font-medium hover:underline">Counter</a>
        </Authorized>
    </AuthorizeView>
    </nav>
    <AuthorizeView>
        <Authorized>
            <a href="Accounts/Logout" class="text-white font-medium hover:underline">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a href="Accounts/Login" class="text-white font-medium hover:underline">Login</a>
        </NotAuthorized>
     </AuthorizeView>
</div>
