@page "/profiles"
@using BlazorApp.Services
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp.Data.DatingAppDbContext DB
@inject ProfileService ProfileService
@using BlazorApp.Models
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="profiles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Profiles.Include(p => p.City)">
    <PropertyColumn Property="profile => profile.ProfileId" />
    <PropertyColumn Property="profile => profile.AccountId" />
    <PropertyColumn Property="profile => profile.Height" />
    <PropertyColumn Property="profile => profile.Weight" />
    <PropertyColumn Property="profile => profile.Age" />
    <PropertyColumn Property="profile => profile.DisplayName" />
    <PropertyColumn Property="profile => profile.GenderDisplay" />
    <PropertyColumn Property="profile => profile.ZipCode" />
    <PropertyColumn Property="profile => profile.City.CityName" />
    <PropertyColumn Property="profile => profile.Bio" />
    <PropertyColumn Property="profile => profile.IsDeleted" />

    <TemplateColumn Context="profile">
        <a href="@($"profiles/edit?profileid={profile.ProfileId}")">Edit</a> |
        <a href="@($"profiles/details?profileid={profile.ProfileId}")">Details</a> |
        <a href="@($"profiles/delete?profileid={profile.ProfileId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
