@page "/"
@using System.Drawing

<div class="text-center py-16 bg-cover bg-center text-white" style="background-image: url('/images/background.png');">
    <h1 class="text-5xl font-bold mb-4">Swipe Right®</h1>
    <a href="accounts/create" class="bg-red-500 text-white px-8 py-4 text-lg rounded-full inline-block">Create account</a>
</div>


@code {
}
