@page "/likes"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp.Data.DatingAppDbContext DB
@using BlazorApp.Models
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="likes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Likes">
    <PropertyColumn Property="like => like.SenderId" />
    <PropertyColumn Property="like => like.ReceiverId" />
    <PropertyColumn Property="like => like.Status" />

    <TemplateColumn Context="like">
        <a href="@($"likes/edit?likeid={like.LikeId}")">Edit</a> |
        <a href="@($"likes/details?likeid={like.LikeId}")">Details</a> |
        <a href="@($"likes/delete?likeid={like.LikeId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
